In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/all_car_adverts.csv')

In [ ]:
df.head()

In [19]:
missing_values = df.isnull().sum()
print(missing_values)

Unnamed: 0                    0
make                          0
model                       303
variant                    2249
car_price                     0
car_badges                16997
car_title                     0
car_sub_title               547
car_attention_grabber     80293
car_specs                     0
car_seller                  108
car_seller_rating        174265
car_seller_location        2200
year                          0
reg                       71020
body_type                   712
miles                     54753
engine_vol                15446
engine_size                4209
engine_size_unit           4209
transmission                213
feul_type                   222
num_owner                375860
ulez                          0
full_service                  0
part_service                  0
part_warranty                 0
full_dealership               0
first_year_road_tax           0
brand_new                     0
finance_available             0
discounted                    0
dtype: int64

In [21]:
columns_to_drop=[
    'Unnamed: 0',
    'car_badges',
    'car_attention_grabber',
    'car_seller_rating',
    'num_owner',
    'reg',
]
df.drop(columns=columns_to_drop, inplace=True)
print("Dropped Unnecessary columns")
missing_values = df.isnull().sum()
print(missing_values)

Dropped Unnecessary columns
make                       0
model                    303
variant                 2249
car_price                  0
car_title                  0
car_sub_title            547
car_specs                  0
car_seller               108
car_seller_location     2200
year                       0
body_type                712
miles                  54753
engine_vol             15446
engine_size             4209
engine_size_unit        4209
transmission             213
feul_type                222
ulez                       0
full_service               0
part_service               0
part_warranty              0
full_dealership            0
first_year_road_tax        0
brand_new                  0
finance_available          0
discounted                 0
dtype: int64

In [26]:
essential_columns=[
    'variant',
    'car_seller_location',
    'body_type',
    'engine_size',
    'engine_size_unit',
    
]
df.dropna(subset = essential_columns, inplace=True)
print("Missing essential columns removed")
missing_values = df.isnull().sum()
print(missing_values)

Missing essential columns removed
make                   0
model                  0
variant                0
car_price              0
car_title              0
car_sub_title          0
car_specs              0
car_seller             9
car_seller_location    0
year                   0
body_type              0
miles                  0
engine_vol             0
engine_size            0
engine_size_unit       0
transmission           0
feul_type              0
ulez                   0
full_service           0
part_service           0
part_warranty          0
full_dealership        0
first_year_road_tax    0
brand_new              0
finance_available      0
discounted             0
dtype: int64

In [31]:
print(df.shape)

(748444, 26)

In [37]:
display(df.head())

,make,model,variant,car_price,car_title,car_sub_title,car_specs,car_seller,car_seller_location,body_type,...,ulez,full_service,part_service,part_warranty,full_dealership,first_year_road_tax,brand_new,finance_available,discounted,age
8,Abarth,124 Spider,GT,24275.0,Abarth 124 Spider,1.4 T MultiAir 2dr Auto,"2019 (19 reg), Convertible, 10,313 miles, 1.4L...",Glyn Hopkin Fiat and MG Milton Keynes,milton keynes,convertible,...,1,0,0,0,0,0,0,1,0,6
9,Abarth,124 Spider,GT,24275.0,Abarth 124 Spider,1.4 T MultiAir 2dr Auto,"2019 (19 reg), Convertible, 10,313 miles, 1.4L...",Glyn Hopkin Fiat and MG Milton Keynes,milton keynes,convertible,...,1,0,0,0,0,0,0,1,0,6
10,Abarth,124 Spider,GT,25000.0,Abarth 124 Spider,1.4 MultiAir GT Roadster Auto Euro 6 2dr,"2018 (68 reg), Convertible, 11,500 miles, 1.4L...",Private seller,forres,convertible,...,1,0,0,0,0,0,0,1,0,7
11,Abarth,124 Spider,MultiAir,15649.0,Abarth 124 Spider,1.4L MultiAir 2dr,"2018 (18 reg), Convertible, 28,692 miles, 1.4L...",Cazoo,Willesden,convertible,...,1,0,0,0,0,0,0,1,0,7
12,Abarth,124 Spider,MultiAir,15995.0,Abarth 124,1.4 SPIDER SCORPIONE MULTIAIR 2d 168 BHP NEW M...,"2017 (67 reg), Convertible, 44,000 miles, 1.4L...",1 Car Company,alcester,convertible,...,1,0,0,0,0,0,0,1,0,8

In [38]:
features = [
    'make',
    'model',
    'variant',
    'body_type',
    'miles',
    'engine_size',
    'transmission',
    'feul_type', 
    'age'
]
target = 'car_price'
df_model = df[features + [target]].copy()
print(f"Original shape with selected features: {df_model.shape}")
categorical_features = ['make', 'model', 'variant', 'body_type', 'transmission', 'feul_type']
df_model_encoded = pd.get_dummies(df_model, columns=categorical_features, drop_first=True)
print(f"Shape after one-hot encoding: {df_model_encoded.shape}")
print("\nData has been transformed and is now 100% numerical.")


display(df_model_encoded.head())

Original shape with selected features: (748365, 10)
Shape after one-hot encoding: (748365, 4376)

Data has been transformed and is now 100% numerical.

,miles,engine_size,age,car_price,make_Aixam,make_Alfa Romeo,make_Aston Martin,make_Audi,make_Austin,make_BMW,...,body_type_pickup double cab car,body_type_saloon,body_type_suv,transmission_manual,feul_type_diesel,feul_type_diesel hybrid,feul_type_diesel plug-in hybrid,feul_type_petrol,feul_type_petrol hybrid,feul_type_petrol plug-in hybrid
8,10313.0,167.0,6,24275.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
9,10313.0,167.0,6,24275.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
10,11500.0,170.0,7,25000.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
11,28692.0,168.0,7,15649.0,False,False,False,False,False,False,...,False,False,False,True,False,False,False,True,False,False
12,44000.0,170.0,8,15995.0,False,False,False,False,False,False,...,False,False,False,True,False,False,False,True,False,False

In [40]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error
import xgboost as xgb
import numpy as np

# --- SOLUTION 2: Take a smaller, random sample to reduce memory usage ---
print(f"Original encoded data shape: {df_model_encoded.shape}")
df_sample = df_model_encoded.sample(n=200000, random_state=42)
print(f"Sampled data shape for training: {df_sample.shape}")


# --- 1. Define your Features (X) and Target (y) using the SAMPLE ---
X = df_sample.drop('car_price', axis=1)
y = df_sample['car_price']

# --- 2. Split the sampled data ---
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"\nTraining set has {X_train.shape[0]} samples.")
print(f"Testing set has {X_test.shape[0]} samples.")

# --- 3. Initialize and Train the XGBoost Model ---
print("\nTraining the XGBoost model...")

# --- SOLUTION 1: Reduced n_estimators to use less memory ---
xgbr = xgb.XGBRegressor(objective='reg:squarederror',
                        n_estimators=200,  # Reduced from 1000
                        learning_rate=0.05,
                        max_depth=8,
                        subsample=0.8,
                        colsample_bytree=0.8,
                        random_state=42,
                        n_jobs=-1)

# Fit the model to the training data
xgbr.fit(X_train, y_train)

print("Model training complete!")

# --- 4. Evaluate the Model's Performance ---
print("\nEvaluating model performance on the test set...")
predictions = xgbr.predict(X_test)
r2 = r2_score(y_test, predictions)
mae = mean_absolute_error(y_test, predictions)

print(f"R-squared (R²): {r2:.4f}")
print(f"Mean Absolute Error (MAE): £{mae:,.2f}")

Original encoded data shape: (748365, 4376)
Sampled data shape for training: (200000, 4376)

Training set has 160000 samples.
Testing set has 40000 samples.

Training the XGBoost model...
Model training complete!

Evaluating model performance on the test set...
R-squared (R²): 0.9558
Mean Absolute Error (MAE): £1,958.62

In [41]:
import joblib
import os

# --- Step 1: Create a directory to store your model assets ---
# This keeps your project tidy.
model_assets_dir = 'model_assets'
if not os.path.exists(model_assets_dir):
    os.makedirs(model_assets_dir)
print(f"Directory '{model_assets_dir}' is ready.")

# --- Step 2: Save the trained model ---
# We save the 'xgbr' object which contains all the learned patterns.
model_filename = os.path.join(model_assets_dir, 'car_price_model.joblib')
joblib.dump(xgbr, model_filename)
print(f"Trained model saved to: {model_filename}")

# --- Step 3: Save the list of model columns ---
# This is critical for ensuring the data you send from your web app
# has the exact same structure as the data the model was trained on.
columns_filename = os.path.join(model_assets_dir, 'model_columns.joblib')

# We use X.columns because it contains the final, one-hot encoded column names
model_columns = X.columns
joblib.dump(model_columns, columns_filename)
print(f"Model columns saved to: {columns_filename}")

print("\n--- Phase 1 Complete! ---")
print("You have successfully trained and saved your model and its assets.")

Directory 'model_assets' is ready.
Trained model saved to: model_assets\car_price_model.joblib
Model columns saved to: model_assets\model_columns.joblib

--- Phase 1 Complete! ---
You have successfully trained and saved your model and its assets.